* {
    margin: 0;
    padding: 0;
}

/* div {
    outline: 1px solid #036cdb !important;
} */

.profile_wrapper {
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile {
    width: 380px;
    height: 610px;
    background-color: #1f1f1f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 0;
}



.header_photo {
    border-radius: 50%;
    width: 88px;
    height: 88px;
    display: block;
    margin-bottom: 32px;
}

.header_name {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 15px;
}

.header_location {
    color: #c5f82a;
    margin-bottom: 31px;
}

.header_description {
    color: #d9d9d9;
    margin-bottom: 26px;
}

.links_wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 40px;
}

.social_media_link {
    display: block;
    color: #fff;
    background-color: #333;
    width: 304px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    padding-top: 16px;
}
.social_media_link:hover{
    background-color: #c5f82a;
}
a,a:hover ,a:visited{
    text-decoration: none;
}